<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyi.daxie.cloud.operation.mapper.StatusDataMapper">

    <select id="getStatusByList" parameterType="java.lang.String" resultType="com.deyi.daxie.cloud.operation.domain.StatusData">
        <foreach collection="deviceNums" item="num" separator=") union all (" close=")" open="(">
            select id, device_num, fleet, energy, login_Status, operation_Mode, version, device_Time from vel_status_data where device_num = #{num} order by device_Time desc limit 1
        </foreach>
    </select>

</mapper>