<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deyi.daxie.cloud.vehicle.query.mapper.CameraAccessMapper">

    <sql id="selectConfigVo">
        SELECT `accessUpdateId`,
               `url`,
               `method`,
               `header`,
               `appKey`,
               `appSecret`
        FROM vehicle_camera_access
    </sql>

    <select id="list" resultType="com.deyi.daxie.cloud.vehicle.query.vo.AccessInfo">
        <include refid="selectConfigVo"/>
    </select>

</mapper>